.hero-sec-sixteen{
    padding-bottom: 50px;
    padding-top: 70px;
}
.HeaderTen{
    text-align: center;
    padding-bottom: 70px;
}
.buttoncontainer{
    padding-top: 50px;
    text-align: center;
}
.custombutton{
background: #FF8500;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
.cardBackground {
    background-color: #f9f9f9; /* Adjust background color */
    padding: 50px; /* Add padding for the card */
    border-radius: 15px; /* Rounded corners for the card */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add shadow to the card */
    display: flex;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px; /* Adjust height as needed */
}
.customShapeSixteen {
    box-sizing: border-box;
    position: relative;
    left: 0%;
    width: 700px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    border: 8px solid #FF8500;
    border-radius: 100% / 100%; /* Create an elliptical shape */
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
  }
  .circleTextsixteen{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
   font-weight: 400;
   font-size: 15px;
    
  }
  .contentSixteen{
    display:flex;
  }
  .girlimage{
    width: auto;
    height:300px;
    margin-right: 100px;
    padding-left: 100px;
  }
 .btntwo{
  margin-left: 10px;
 }
 .btnsixteen{
  display: flex;
 }
 .contentSixteen h2{
  font-weight: bold;
  padding-bottom: 10px;
 }
  @media (max-width: 767px) {
    /* Styles for mobile view */
    .customShapeSixteen {
        width: auto;
        height: auto;
        margin-right: 0px;
     
    }
    .cardBackground {
      background-color: #f9f9f9; /* Adjust background color */
      padding: 10px; /* Add padding for the card */
      border-radius: 15px; /* Rounded corners for the card */
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add shadow to the card */
      display: flex;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: auto; 
  }
  .girlimage{
    width: auto;
    height:200px;
    margin-right: auto;
    padding-left: 0px;
    margin-top: 30px;
  }
  .custombutton{
    background: #FF8500;
        border: none;
        border-radius: 10px;
        padding: 10px 10px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    }

  }