/* HeroSecThree.css */
.hero-sec-nine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */

  }
  .hero-sec-nine p{
    width: 650px;
    font-weight: 400;
    font-size: 23px;
    padding-bottom: 20px;
  }
  
  
  .frame {
    position: relative;
    text-align: center;
    
  }
  
  .frame {
    max-width: 100%;
    height: 70vh;
    display: block;
    
  }
  .girl-image{
    height: 100vh;
  }
  
  .frametext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
    /* Additional text styles */
  }
  .frametext h2{
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  @media (max-width: 768px) {
    
    .girl-image{
      width: 0px;
      height: 0vh;
    }
    .hero-sec-nine p{
      width: 300px;
      font-weight: 500;
      font-size: 16px;
      padding-bottom: 0px;
    }
    .frametext h2{
      font-weight: 700;
      padding-top: 0px;
      padding-bottom: 20px;
    }
    .frame{
      width: auto;
      height: 430px;
    }
    
    
  }