/* HeroSecOne.css - Desktop Version */
.herosection {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  background-color: #4CB0B2;
  padding-bottom: 250px;
  width: 100%;

}
.istcontent{
  display: flex;
}
.btnOne{
  margin-left: 200px;
  margin-top: 30px;
}
.customboxOne {  
  padding-top: 50px;
  position: relative;
  width: 550px;
  height: auto;
  background: #FFFFFF;
  border: 15px solid #FF8500;
  box-shadow: 0px -18px 4px rgba(0, 0, 0, 0.25), 0px 21px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  transform: skewX(5deg);
  margin-left: 50px;
  text-align: center;
  font-size: 18px;
  word-spacing: 0.5rem;
  font-weight: 600;
}
.customboxOne h1{
  padding-bottom: 25px;
  font-weight: bold;
}

.rightimage img {
  width: 700px;
  height: auto;
  filter: drop-shadow(-33px -30px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 35px 4px rgba(0, 0, 0, 0.25));
  transition: filter 0.3s ease-in-out;
}

.rightimage img:hover {
  filter: drop-shadow(-33px -30px 6px rgba(0, 0, 0, 0.3)) drop-shadow(0px 35px 6px rgba(0, 0, 0, 0.3));
}

.rightimage {
  flex: 1;
  margin-left: 20px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .istcontent {
    display: block;
    width: auto;
    padding-right: 25px;
    
  }
  .customboxOne {  
    height: auto;
    width: auto;
    box-shadow: 0px -10px 0px rgba(0, 0, 0, 0.25), 0px 10px 4px rgba(0, 0, 0, 0.25);
    transform: skewX(0deg);
    border: 8px solid #FF8500;
  }
  .customboxOne h1{
    font-size: 20px;
  }
  .customboxOne p{
    font-size: 15px;
  }
  .rightimage img {
    margin-top: 100px;
    width: 355px;
    height: auto;
    filter: drop-shadow(-33px -30px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 35px 4px rgba(0, 0, 0, 0.25));
    transition: filter 0.3s ease-in-out;
}
.btnOne{
  margin-left: 70px;
  margin-top: 40px;
}
}
